examples/ansible_azure_gitlab_demo/roles/ansible-role-ansible/
examples/ansible_azure_gitlab_demo/roles/ansible-role-apache/
examples/ansible_azure_gitlab_demo/roles/ansible-role-awx/
examples/ansible_azure_gitlab_demo/roles/ansible-role-docker/
examples/ansible_azure_gitlab_demo/roles/ansible-role-git/
examples/ansible_azure_gitlab_demo/roles/ansible-role-gitlab/
examples/ansible_azure_gitlab_demo/roles/ansible-role-nodejs/
examples/ansible_azure_gitlab_demo/roles/ansible-role-pip/
examples/ansible_azure_gitlab_demo/roles/ansible-role-repo-epel/

