ansible-role-ansible/
ansible-role-apache/
ansible-role-awx/
ansible-role-docker/
ansible-role-git/
ansible-role-gitlab/
ansible-role-nodejs/
ansible-role-pip/
ansible-role-repo-epel/
ansible-role-awx-default-password/
.vs/
*.swp
